@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme</h2>
<br />

@*formmethod ne zaman çağrılacağı*@ 
@using (Html.BeginForm("KategoriGuncelle","Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriAd)
        @Html.TextBoxFor(x => x.KategoriAd , new {@class="form-control"})
        @Html.HiddenFor(x=>x.KategoriId)
        <br />
    </div>
    <button class="btn btn-warning">Güncelle</button>
}
    


